root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.cs]
indent_style = space
indent_size = 4
charset = utf-8-bom

[*.py]
indent_style = space
indent_size = 4
charset = utf-8

[{GNUMakefile,Makefile}]
indent_style = tab

[*.{c,h,cpp}]
indent_style = space
indent_size = 4
charset = utf-8-bom

[*.{rb,js}]
end_of_line = crlf
indent_style = space
indent_size = 16
charset = utf-16le

